apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  namespace: n8n
  labels:
    service: n8n
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
      service: n8n
  template:
    metadata:
      labels:
        app: n8n
        service: n8n
    spec:
      initContainers:
        - name: volume-permissions
          image: busybox:1.36
          command: ["sh", "-c", "chown 1000:1000 /data"]
          volumeMounts:
            - name: n8n-claim0
              mountPath: /data
      restartPolicy: Always
      containers:
        - command:
            - /bin/sh
          args:
            - -c
            - sleep 5; n8n start
          name: n8n
          image: n8nio/n8n:latest
          ports:
          - containerPort: 5678
          env:
          - name: DB_TYPE
            value: postgres
          - name: DB_POSTGRESDB_HOST
            value: postgres-service.n8n.svc.cluster.local
          - name: DB_POSTGRESDB_PORT
            value: "5432"
          - name: POSTGRES_DB
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: POSTGRES_DB
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: POSTGRES_USER
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: POSTGRES_PASSWORD
          - name: GENERIC_TIMEZONE
            value: America/Edmonton
          - name: N8N_HOST
            value: n8n.danieldias.ca
          - name: N8N_PORT
            value: "5678"
          resources:
              requests:
                memory: "250Mi"
              limits:
                memory: "500Mi"
          volumeMounts:
          - mountPath: /home/node/.n8n
            name: n8n-claim0
      volumes:
        - name: n8n-claim0
          persistentVolumeClaim:
            claimName: n8n-claim
        - name: postgres-secret
          secret:
            secretName: postgres-secret
    