apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: postgres
spec:
  ports:
    - name: "5432"
      port: 5432
      targetPort: 5432
      protocol: TCP
  selector:
    app: postgres
